
@font-face {
  font-family: font;
  src: url(fonts/Banabo.ttf)
}

html {
    box-sizing: border-box;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgb(78, 78, 79) 0%, rgb(137, 137, 137) 83%, rgb(92, 92, 92) 100%);
    font-family: font;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.container {
   width: 90%;
   margin: 0 auto;
   background-color: rgb(243, 242, 242);
   padding: 40px;
   border-radius: 10px;
   box-shadow: 0 0 20px rgba(0,0,0,0.5);
}


.navbar {
  border-radius: 10px;
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.navbar-logo {
  font-weight: bold;
  font-size: 60px;
  color: white;
  margin-left: 30px;
  font-family: font;
  margin-bottom: 0px;
}

.logo-img {
  width: 190px;
  height: auto;
  margin-right: 700px;
  margin-top: 0px;
}

.nav-items {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-right: 30px;
}

.nav-items li a {
  text-decoration: none;
  color: white;
  font-size: 45px;
  font-family: font;
}

#carousel {
  width: 100%;
  height: 800px;
  margin-bottom: 40px;
}
#carousel img {
width: 85%;
height: 800px;
position: absolute;
overflow: hidden;
top: 10;
left: 10;
opacity: 0;
transition: opacity 0.5s ease-in-out;
border-radius: 10px;
}

#carousel img.active {
opacity: 1;
}

#prevButton, #nextButton {
  border-radius: 10px;
  font-family: font;
  margin-bottom: 20px;
  font-size: 20px;
}

.gato {
  margin-bottom: 20px;
  overflow: auto;
  border: 1px solid black;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}
.gato:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.gato a {
  color: inherit;
  text-decoration: none;
}
.gato a:hover {
  text-decoration: underline;
}

.gato img {
  float: right;
  margin-left: 20px;    
  width: 500px;
  height: 400px;
}

.gato .texto {
  display: inline-block;
  vertical-align: top;
  width: 65%;
  margin-left: 25px;
}

.gato h2 {
  font-size: 60px;
  margin-top: 20px;
}

.gato p {
  font-size: 35px;
  margin-bottom: 0px;
  margin-top: 40px;
}

  